/* DO NOT REMOVE THIS COMMENT -XDZIPPER */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  background-color: #200b9f;
  text-align: center;
}
  
h1, h2, h3, h4, h5, a, p {
  font-family: Lexend;
  color: #FFFFFF;
}

button {
  background-color: #1177ff;
  border: none;
  border-radius: 6px;
}

iframe {
  width: 70%;
  height: 556px;
  border: none;
  border-radius: 6px;
}

hr {
  background-color: #FFFFFF;
  color: #FFFFFF;
  height: 4px;
}
